<div class="container">
  <div class="row text-center">
    <div class="col-md-12">
      <% if (message.success) { %>
        <div class="alert alert-success alert-dismissable">
           <button type="button" class="close" onClick="this.parentNode.style.display = 'none';">×</button>
           <%= message.success[0] %>
        </div>
      <% } %>
      <% if (message.warning) { %>
        <div class="alert alert-warning alert-dismissable">
           <button type="button" class="close" onClick="this.parentNode.style.display = 'none';">×</button>
           <%= message.warning[0] %>
        </div>
      <% } %>
      <% if (message.error) { %>
        <div class="alert alert-danger alert-dismissable">
           <button type="button" class="close" onClick="this.parentNode.style.display = 'none';">×</button>
           <%= message.error[0] %>
        </div>
      <% } %>
    </div>
  </div>
</div>
